<!-- <mat-card>
  <mat-card-header>
    <button style="margin: 2px;" mat-raised-button color="primary" (click)="addproduct()">Add New (+)</button>
  </mat-card-header>
  <mat-card-content>

    <mat-card *ngIf="!isadd && !isedit">
      <mat-card-content>
      
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
      <ng-container matColumnDef="name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{element.price | currency}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="editproduct(element.id)">Edit</button>
          <button mat-raised-button color="accent" (click)="removeproduct(element.id)">Remove</button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColums"></tr>
  </table>
</mat-card-content>
</mat-card>

<form [formGroup]="productform" (ngSubmit)="Saveproduct()" *ngIf="isadd || isedit">
  <mat-card style="width: 30%;">
    <mat-card-header>
  <h2>Add/Edit Product</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input formControlName="id" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput>
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <a mat-raised-button color="accent" (click)="backtolist()">Cancel</a>
  </mat-card-actions>
  </mat-card>
</form>
  


  </mat-card-content>
</mat-card> -->
<app-ho-so-ung-vien></app-ho-so-ung-vien>
